
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
	margin-top: 21px;
	margin-left: 21px;
}

body {
	
	background-color: #f8f8f8;
	font-family: Open Sans, sans-serif;
	font-size: 12px;
	line-height: 21px;
	color: #6673FF;
}

video {
	width: 300px;
	object-fit: contain;
  }


input {
	width: 150px;
	height: 21px;
	font: inherit;	
	font-size: 13px;
	padding: 6px;
	padding-left: 12px;
	border: 1px solid #6673FF;
  	border-radius: 4px;
}

button {
	margin: 4px;
	width: 130px;
	height: 35px;
	padding: 6px;
	font: inherit;	
	font-size: 13px;
	color: #6673FF;
	border: 1px solid #6673FF;
  	border-radius: 4px;
	background-color: white;
}

button:hover {
	background-color:#6673FF;
	color: white;
}

sketch {
  position: absolute;
  top:0;
  top: 0px;
  left: 0px;  
}